.sticky
  #header
    .row
      .large-12.columns
        .top-bar
          %ul.title-area
            %li.name
              %h1
                %i.icon-bookmark
                %a(href="/#" data-type='mixpanel' data-name="Header: Son of Sedonia") Son of Sedonia
            %li.toggle-topbar.menu-icon
              %a(href="#" data-type='mixpanel' data-id="menu-button" data-name="Header: Toggle Menu" data-redirect="false")
                %span Menu
          %section.top-bar-section
            %ul.right
              %li
                %a(href="/#summary" data-type='mixpanel' data-name="Header: Summary") Summary
              %li
                %a(href="/#reviews" data-type='mixpanel' data-name="Header: Reviews") Reviews
              %li
                %a(href="/#author" data-type='mixpanel' data-name="Header: Author") Author
              %li
                %a(href="/blog" data-type='mixpanel' data-name="Header: Blog") Blog
              %li.has-form
                %a.button.radius(href="http://www.amazon.com/Son-of-Sedonia-ebook/dp/B00AO5ID9Q" data-type='mixpanel' data-name="Header: Buy on Amazon")
                  %i.icon-amazon
                  Buy on Amazon
